<%- include('./layouts/start.ejs') %>
<body>
  <%- include('./layouts/navbar.ejs') %>
  <main>
    <form class="form" action="/admin/add-product" method="post">
      <input class="input_text" type="text" name="title" />
      <button type="submit">Add Product</button>
    </form>
  </main>
</body>
<%- include('./layouts/end.ejs') %>
