<header>
  <nav class="navigation">
    <ul class="nav_item">
      <li class="nav_link <%= path === '/' ? 'link_active' : '' %>">
        <a href="/">Shop</a>
      </li>
      <li
        class="nav_link <%= path === '/admin/add-product' ? 'link_active' : '' %>"
      >
        <a href="/admin/add-product">Add Product</a>
      </li>
    </ul>
  </nav>
</header>
