ul {
  list-style: none;
}

.place-item-card {
  width: fit-content;
  padding: 20px;
  margin: 10px 0;
}

.place-image img {
  height: 200px;
  width: 200px;
}

.place-actions {
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
}
